<!-- 타임리프설정 -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>로그인성공</title>
</head>
<body>

<form th:action="@{/member/login}" method="post">
	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
		<tr>
			<td bgcolor="green" width="70">아이디</td>
			<td align="left"><input type="text" name="userid"/></td>
		</tr>
		<tr>
			<td bgcolor="green">패스워드</td>
			<td align="left"><input type="text" name="userpass" size="10"/></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit"	value=" 로그인 "/></td>
		</tr>
	</table>
</form>

</body>
</html>
